{{template "pageStart.html" .}}
<div class="admin-overview">
  <div class="table col-lg-10 col-lg-offset-1">
    <div class="row header col-lg-12">
      <div class="col-lg-2">Employee #</div>
      <div class="col-lg-3">Name</div>
      <div class="col-lg-2">Position</div>
      <div class="col-lg-1">Years</div>
      <div class="col-lg-2">Status</div>
      <div class="col-lg-2">
        <a href="employee/add" class="btn admin-primary">Add</a>
      </div>
    </div>
    {{range .Employees}}
    <div class="row col-lg-12">
      <div class="col-lg-2">{{.ID}}</div>
      <div class="col-lg-3">{{.FirstName}}, {{.LastName}}</div>
      <div class="col-lg-2">{{.Position}}</div>
      <div class="col-lg-1">{{.TotalPTO}}</div>
      <div class="col-lg-2">{{.Status}}</div>
      <div class="col-lg-2">
        <a href="employee/{{.ID}}" class="btn admin-primary-lighten-1">Edit</a>
      </div>
    </div>
    {{end}}
  </div>
</div>
{{template "pageEnd.html" .}}
