{{template "pageStart.html" .}}
<div class="admin-overview">
  <div class="table col-lg-10 col-lg-offset-1">
    <div class="row header col-lg-12">
      <div class="col-lg-2">Employee #</div>
      <div class="col-lg-3">Name</div>
      <div class="col-lg-2">Position</div>
      <div class="col-lg-1">Years</div>
      <div class="col-lg-2">Status</div>
      <div class="col-lg-2">
        <button class="btn admin-primary">Add</button>
      </div>
    </div>
    <div class="row col-lg-12">
      <div class="col-lg-2">962134</div>
      <div class="col-lg-3">Watson, Jennifer</div>
      <div class="col-lg-2">CEO</div>
      <div class="col-lg-1">13</div>
      <div class="col-lg-2">Active</div>
      <div class="col-lg-2">
        <button class="btn admin-primary-lighten-1">Edit</button>
      </div>
    </div>
    <div class="row col-lg-12">
      <div class="col-lg-2">176158</div>
      <div class="col-lg-3">Jane, Allison</div>
      <div class="col-lg-2">COO</div>
      <div class="col-lg-1">4</div>
      <div class="col-lg-2">Active</div>
      <div class="col-lg-2">
        <button class="btn admin-primary-lighten-1">Edit</button>
      </div>
    </div>
    <div class="row col-lg-12">
      <div class="col-lg-2">160898</div>
      <div class="col-lg-3">Uppal, Aakar</div>
      <div class="col-lg-2">CTO</div>
      <div class="col-lg-1">6</div>
      <div class="col-lg-2">Active</div>
      <div class="col-lg-2">
        <button class="btn admin-primary-lighten-1">Edit</button>
      </div>
    </div>
    <div class="row col-lg-12">
      <div class="col-lg-2">176158</div>
      <div class="col-lg-3">Anderson, Jonathon</div>
      <div class="col-lg-2">Worker Bee</div>
      <div class="col-lg-1">12</div>
      <div class="col-lg-2">Active</div>
      <div class="col-lg-2">
        <button class="btn admin-primary-lighten-1">Edit</button>
      </div>
    </div>
  </div>
</div>
{{template "pageEnd.html" .}}
